body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

#camera-container {
    position: relative;
    display: inline-block;
}

#video {
    width: 100%;
    max-width: 400px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

#capture-btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#result-container {
    margin-top: 20px;
}

#result-img {
    width: 100%;
    max-width: 512px;
    border: 2px solid #4caf50;
    border-radius: 10px;
}
#qr-container {
    margin-top: 20px;
    text-align: center;
}

#qrcode {
    margin: auto;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
}
/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
}

#einwilligung-akzeptieren,
#einwilligung-ablehnen {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

#einwilligung-akzeptieren {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#einwilligung-ablehnen {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
}