<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Photobooth</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>AI Photobooth</h1>
    <div id="camera-container">
        <video id="video" autoplay></video>
        <canvas id="canvas" style="display: none;"></canvas>
        <select id="prompt-select">
            <option value="0">STUDENT</option>
            <option value="1">ASTRONAUT</option>
            <option value="2">F1 DRIVER</option>
            <option value="3">DIVER</option>
        </select>
        <button id="capture-btn">Capture Photo</button>
    </div>
    <div id="result-container">
        <img id="result-img" src="" alt="Processed Image" style="display: none;">
        <p id="status-msg">Processing...</p>
    </div>
    <div id="qr-container" style="display: none;">
        <h3>Scan this QR code to view your image on your phone:</h3>
        <div id="qrcode"></div>
    </div>
    <div id="datenschutz-hinweis">
        <p>Diese Website ermöglicht Ihnen, ein Bild von sich selbst zu erstellen, das zum Zweck der Verarbeitung vorübergehend auf Servern der Hochschule gespeichert wird. Die Bilder werden nach 24 Stunden automatisch gelöscht und sind nur über einen individuell generierten QR-Code zugänglich. Weitere Informationen zur Datenverarbeitung finden Sie in unserer <a href="datenschutz">Datenschutzerklärung</a>.</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
